In [1]:
import pandas as pd

the Environment and Climate Change Canada (ECCC) weather buoys

In [2]:
meds303df = pd.read_csv('meds103.csv')

In [3]:
meds303df.head(100)

,STN_ID,DATE,Q_FLAG,LATITUDE,LONGITUDE,DEPTH,VCAR,VTPK,Unnamed: 8
0,MEDS103,06/26/1970 23:00,1,48.99,125.74,40.0,2.25,13.65,NaN
1,MEDS103,06/27/1970 02:00,1,48.99,125.74,40.0,2.12,12.41,NaN
2,MEDS103,06/27/1970 05:00,1,48.99,125.74,40.0,2.23,12.41,NaN
3,MEDS103,06/27/1970 08:00,1,48.99,125.74,40.0,1.88,12.41,NaN
4,MEDS103,06/27/1970 11:00,1,48.99,125.74,40.0,2.11,10.50,NaN

In [5]:
meds303df.head(100).to_csv('MEDS303_100.csv', index = False)

In [6]:
laperousedf=pd.read_csv('laperouse_buoy46139.csv')

In [8]:
laperousedf.head(100).to_csv('laperouse_100.csv', index=False)

In [9]:
weather_normal_dailydf =pd.read_csv('weatherstats_tofino_normal_daily.csv')

In [11]:
weather_normal_dailydf.head(100).to_csv('weather_normals_daily_100.csv')

In [12]:
weather_normal_monthlydf =pd.read_csv('weatherstats_tofino_normal_monthly.csv')

In [15]:
weather_normal_monthlydf.head(100).to_csv('weather_normals_monthly_100.csv')